# Object file
*.o


#Unrelated files
*.xls
*.xlsx
*.csv
*.dta


*.txt
*.rar
*.zip

*.pdf
*.caj

#MS related files
*.rtf
*.doc
*.docx

#LaTeX related files
*.log
*.aux
*.synctex.gz
*.synctex.gz(busy)
*.fdb_latexmk
*.dvi
*.blg
*.tex.sav
*.tex.bak
*.ps
*.toc
*.bbl
*.log.tex
